@model List<Item>

    <h2>These are the values returned from searching using the "search by show" endpoint:</h2>

@foreach (Item i in Model)
{
    if (i != null)
    {
        <p>Id: @i.id </p>
        <p>Podcast name: @i.name </p>
        <p>Publisher: @i.publisher</p>
        <p>Description: @i.description</p>
        <hr>
        <br>
    }
}
