<style>
    h2 {
        text-align: center;
    }
    p {
        text-align: center;
    }
    div {
        padding-right: 20px;
    }
</style>

<h2>About Us</h2>

<p>We are Graduates of the Grand Circus 2020 Q4 C#/.NET Bootcamp.</p>
<p>We look forward to connecting with you!</p><br />

<div style="position:absolute; left: 80px; top: 200px">
    <p><strong>Kristen Harrell</strong></p>
    <img src="~/img/kristen_harrell_headshot.jpg" height="200" /><br />
    <p><a href="https://www.linkedin.com/in/kristen-harrell/" target="_blank"><img src="~/img/linkedin.png" height="20" /></a> <a href="https://github.com/kristen-harrell" target="_blank"><img src="~/img/GitHub-Mark.png" height="20" /></a> <a href="mailto:harrell.kristen@gmail.com" target="_blank"><img src="~/img/email.jpg" height="20" /></a></p>

</div>

<div style="position:absolute; left: 380px; top: 200px">
    <p><strong>Name</strong></p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/SNice.svg/220px-SNice.svg.png" height="200" /><br />
    <p><a href="https://www.linkedin.com/" target="_blank"><img src="~/img/linkedin.png" height="20" /></a> <a href="https://github.com/" target="_blank"><img src="~/img/GitHub-Mark.png" height="20" /></a> <a href="mailto:" target="_blank"><img src="~/img/email.jpg" height="20" /></a></p>

</div>

<div style="position:absolute; left: 680px; top: 200px">
    <p><strong>Name</strong></p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e0/SNice.svg/220px-SNice.svg.png" height="200" /><br />                                                                                                        
    <p><a href="https://www.linkedin.com/" target="_blank"><img src="~/img/linkedin.png" height="20" /></a> <a href="https://github.com/" target="_blank"><img src="~/img/GitHub-Mark.png" height="20" /></a> <a href="mailto:" target="_blank"><img src="~/img/email.jpg" height="20" /></a></p>
</div>

<div style="position:absolute; left: 980px; top: 200px">
    <p><strong>Pin Vue</strong></p>
    <img src="~/img/pv.jpg" height="200" /><br />
    <p><a href="https://www.linkedin.com/in/pin-vue/" target="_blank"><img src="~/img/linkedin.png" height="20" /></a> <a href="https://github.com/pinvue91" target="_blank"><img src="~/img/GitHub-Mark.png" height="20" /></a> <a href="mailto:pin.vue@hotmail.com" target="_blank"><img src="~/img/email.jpg" height="20" /></a></p>
</div>