<style>
    h2 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    div {
        padding-right: 20px;
    }
</style>

<h2>About Us</h2>

<p>We are Graduates of the Grand Circus 2020 Q4 C#/.NET Bootcamp.</p>
<p>We look forward to connecting with you!</p>
<br />
<div>
    <center>
        <div style="position:absolute; left: 80px; top: 230px">
            <p><strong>Kristen Harrell</strong></p>
            <img src="~/img/kristen_harrell_headshot.jpg" height="200" /><br />
            <p><a href="https://www.linkedin.com/in/kristen-harrell/" target="_blank"><img src="~/img/linkedin.png" height="20" /></a> <a href="https://github.com/kristen-harrell" target="_blank"><img src="~/img/GitHub-Mark.png" height="20" /></a> <a href="mailto:harrell.kristen@gmail.com" target="_blank"><img src="~/img/email.jpg" height="20" /></a></p>

        </div>

        <div style="position:absolute; left: 380px; top: 230px">
            <p><strong>Jean Thomas</strong></p>
            <img src="~/img/P10.jpg" height="200" /><br />
            <p><a href="https://www.linkedin.com/in/jeanintech/" target="_blank"><img src="~/img/linkedin.png" height="20" /></a> <a href="https://github.com/JeanInTech" target="_blank"><img src="~/img/GitHub-Mark.png" height="20" /></a> <a href="mailto:jeniferjeanthomas@gmail.com" target="_blank"><img src="~/img/email.jpg" height="20" /></a></p>

        </div>

        <div style="position:absolute; left: 680px; top: 230px">
            <p><strong>Duncan MacLachlan</strong></p>
            <img src="~/img/DM.jpg" height="200" /><br />
            <p><a href="https://www.linkedin.com/in/duncanmaclachlan/" target="_blank"><img src="~/img/linkedin.png" height="20" /></a> <a href="https://github.com/duncaannn" target="_blank"><img src="~/img/GitHub-Mark.png" height="20" /></a> <a href="mailto:dmaclach1027@gmail.com" target="_blank"><img src="~/img/email.jpg" height="20" /></a></p>
        </div>

        <div style="position:absolute; left: 980px; top: 230px">
            <p><strong>Pin Vue</strong></p>
            <img src="~/img/pv.jpg" height="200" /><br />
            <p><a href="https://www.linkedin.com/in/pin-vue/" target="_blank"><img src="~/img/linkedin.png" height="20" /></a> <a href="https://github.com/pinvue91" target="_blank"><img src="~/img/GitHub-Mark.png" height="20" /></a> <a href="mailto:pin.vue@hotmail.com" target="_blank"><img src="~/img/email.jpg" height="20" /></a></p>
        </div>
    </center>
</div>