

<form asp-controller="Pod" asp-action="SearchResults" method="post">
    search type podcast name: <input type="text" name="query" />
   <input type="submit"/>
</form>

<form asp-controller="Pod" asp-action="SearchEpisodeNameResults" method="post">
    search episode name:<input type="text" name="query" />
    <input type="submit" />
</form>

<form asp-controller="Pod" asp-action="SearchByEpisodeId" method="post">
    search episode using episode Id controller:<input type="text" name="query" />
    <input type="submit" />
</form>