
<form asp-controller="Pod" asp-action="Search" method="post">
    What are you looking for?
    <select name="searchType" id="something">
    <option value="podcast">A podcast called...</option>
    <option value="episode">A specific episode called...</option>
    <option value="content">A podcast about...</option>
</select>
    <input type="text" name="query" />
    <input type="submit" />
</form>


