<img src="https://png2.cleanpng.com/sh/bbebdd4106dd999b26fe57d1564d30f6/L0KzQYm3U8I0N5D6j5H0aYP2gLBuTgBmaaF0fJ9sbHnzPbL5lL1xbZIyTdNrNUDnQIe8hsA0O2MzSac8NEG8QIa4VcIyQGI5T6s5M0i8QnB3jvc=/kisspng-peapod-clip-art-pea-5ab50d065f0332.1534190515218147903892.png" style="height: 250px; width: 250px; justify-content: center;" />
﻿<div id="indexContainer" class="d-flex justify-content-center align-items-center">
    <form asp-controller="Pod" asp-action="SearchResults" method="post" id="searchIndex">
        <h3>Find your next podcast</h3><br />
        <div class="text-md-center">
            <input type="text" name="query" placeholder="Whatever sounds good" class="form-control-lg btn-block" style="text-align: center" required /><br />
            <select name="searchType" id="searchType" class="btn btn-success dropdown-toggle btn-lg btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <option class="dropdown-item-text" value="podcast" style="color: white;">Podcasts</option>
                <option class="dropdown-item-text" value="episode" style="color: white">Episodes</option>
                <option class="dropdown-item-text" value="content" style="color: white">All Content</option>
                @*<option value="tags">Tags</option> keywords and stuff*@
            </select><br />

            <input type="submit" class="btn btn-lg btn-dark" id="indexbtn" value="Submit" />
        </div>
    </form>
</div>
﻿

