
﻿<form asp-controller="Pod" asp-action="SearchResults" method="post">
    <h4>Find your next podcast</h4><br />
    <select name="searchType" id="searchType">
    <option value="podcast">Podcasts</option>
    <option value="episode">Episodes</option>
    <option value="content">All Content</option>
    @*<option value="tags">Tags</option> keywords and stuff*@
</select>
    <input type="text" name="query" placeholder="Whatever sounds good"/>
    <input type="submit" value="Submit"/>
</form>
