
<img src="https://png2.cleanpng.com/sh/bbebdd4106dd999b26fe57d1564d30f6/L0KzQYm3U8I0N5D6j5H0aYP2gLBuTgBmaaF0fJ9sbHnzPbL5lL1xbZIyTdNrNUDnQIe8hsA0O2MzSac8NEG8QIa4VcIyQGI5T6s5M0i8QnB3jvc=/kisspng-peapod-clip-art-pea-5ab50d065f0332.1534190515218147903892.png" />





<!--<form asp-controller="Pod" asp-action="SearchResults" method="post">
    <h4>Find your next podcast</h4><br />
    <select name="searchType" id="searchType" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <option class="dropdown-item-text" value="podcast">Podcasts</option>
    <option class="dropdown-item-text" value="episode">Episodes</option>
    <option class="dropdown-item-text" value="content">All Content</option>-->
@*<option value="tags">Tags</option> keywords and stuff*@
<!--</select>
    <input type="text" name="query" placeholder="Whatever sounds good" required/>
    <input type="submit" class="btn-dark" value="Submit"/>
</form>-->
