@model List<UserFeedback>

<img src="https://png2.cleanpng.com/sh/bbebdd4106dd999b26fe57d1564d30f6/L0KzQYm3U8I0N5D6j5H0aYP2gLBuTgBmaaF0fJ9sbHnzPbL5lL1xbZIyTdNrNUDnQIe8hsA0O2MzSac8NEG8QIa4VcIyQGI5T6s5M0i8QnB3jvc=/kisspng-peapod-clip-art-pea-5ab50d065f0332.1534190515218147903892.png"/>
@foreach(var u in Model)


{
<p>@u.Rating</p> 
<p>@u.Review</p>
<p>@u.Tags</p>  
}
