@model List<UserFeedback>

<table class="styled-table">

    @foreach (var u in Model)

    {
        <thead>
            <tr>

                <th>Rating</th>
                <th>Review</th>
                <th>Tags</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
            </tr>
            <tr>

                <td><p>@u.Rating</p></td>
                <td><p>@u.Review</p></td>
                <td><p>@u.Tags</p></td>
                <td><p><img src="@u.ImageUrl"/></p></td>
            </tr>
        </tbody>
    }

</table>