@model UserFeedback

    <h4>Opps!</h4>
    <p>It looks like you've already rated this episode.</p>
    <p><strong>@Model.EpisodeName</strong></p>
    <img src="@Model.ImageUrl" height="200"/>
    <p>Would you like to edit this review?</p>
    <form asp-controller="User" asp-action="EditReview" method="get">
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="submit" value="Yes" />
    </form>
