@model List<FavoriteViewModel>
<style type="text/css">
    .errorcontainer {
        border-radius: 25px;
        background-color: rgba(12, 12, 12, 0.7);
        padding: 50px;
        color: white;
    }
</style>

<div class="errorcontainer">
    <h4 class="text-left text-capitalize" style="letter-spacing: 2px">Oops!</h4>
    <div>
        <p>It looks like "@ViewBag.EpName" is already on your favorites.</p>

        <form asp-controller="Home" asp-action="index">
            <input type="submit" value="Return to Search" class="btn btn-light btn-group-lg float-lg-left" />
        </form>
        <br />
        <br />
    </div>
</div>