@model UserFeedback

<h4 class="text-left text-capitalize" style="color: black; letter-spacing: 2px">Oops!</h4>
<div style="color: grey">
    <p>It looks like you've already rated this episode.</p>
    <p><strong>Podcast: </strong>@Model.PodcastName</p>
    <p><strong>Episode Name: </strong>@Model.EpisodeName</p>
    <img src="@Model.ImageUrl" height="200" />
    <p>You can <a asp-controller="User" asp-action="EditReview" asp-route-id="@Model.Id" >edit</a> this review, or</p>
    
  
           <p>Or go <a href='javascript:history.go(-1)'>back</a> to the previous page</p>

</div>
